asgiref==3.8.1
attrs==24.2.0
betterpath==0.2.2
Brotli==1.1.0
click==8.1.7
dj-database-url==2.3.0
Django==5.1.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
et-xmlfile==1.1.0
gunicorn==23.0.0
h11==0.14.0
inflection==0.5.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
l==0.11.0
mysqlclient==2.2.4
numpy==2.1.1
openpyxl==3.1.5
packaging==24.2
pandas==2.2.2
pillow==10.4.0
psycopg2-binary==2.9.10
PuLP==2.9.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
rpds-py==0.20.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
uvicorn==0.32.1
validate-email-address==1
vcversioner==2.16.0.0
whitenoise==6.8.2
xlrd==2.0.1
zope.interface==7.0.3
